.tv-effect {
    background-image: url('/public/NextJS.jpg');
    background-size: 95.9%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 45% 59.6%;
    
    /* X Y */
}

.tv-effect img {
    max-width: 100%;
}
.card-css {
    background-color: rgba(28, 27, 27, 0.21);
    transition: transform 0.5s ease;
    -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250% 250%;
    position: relative;
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}

.card-css {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-color: rgba(28, 27, 27, 0.21);
    transition: transform 0.5s ease;
    transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

