.tv-effect {
    background-image: url('/public/Untitled.jpg');
    background-size: 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1);
    /* Semi-transparent black */
    background-blend-mode: overlay;
    /* Blends the image with the background */
    color: white;
    opacity: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);

}

.card-css {
    width: 45%;
    height: 30%;
    --a: 8deg;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(28, 27, 27, 0.21);
    transition: transform 0.5s ease;
    transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250% 250%;
}